div.fruta-main-menu {
    position: relative;
    display: block;
    padding: 40px 0;
    width: 100%;
}

div.fruta-main-menu app-fruta-icon {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}