div.fruta-desc {
    position: relative;
    display: flex;
    width: 50%;
    margin: 30px auto;
}

div.fruta-desc span {
    position: relative;
    display: block;
    width: 40%;
    font-size: 1.3rem;
    font-weight: 600;
}